@import url("https://fonts.google.com/specimen/Big+Shoulders?preview.script=Latn");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #130018, #FFC6D5, #0D001F, #FDC1C1);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.container {
    height: 500px;
    width: 350px;
    border-radius: 24px;
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
    font-weight: thin;
    background-image: url("");
}

.gradient {
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(to top, #130018, rgba(0, 0, 0, 0.08));
    color: white;
    border-radius: 10px;
}

.content {
    bottom: 0;
    position: absolute;
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    font-size: xx-large;
    font-family: 'Figtree', sans-serif;
    letter-spacing: 0,5px;
    font-weight: 500;
}

.details {
    font-style: italic;
    color: #EFD6DC;
}

.icons {
    display: flex;
    flex-direction: column;
    top: -30px;
    position: absolute;
    left: 85%;
}

.icons i {
    font-size: 0px;
    margin-bottom: 20px;
    color: rgb(250, 250, 250);
    transition: 0.3s;
}

.icons i:hover {
    color: white;
}

@media screen and(min-width:200px) {
    .container {
        height: 350px;
        width: 200px;
    }
    h2 {
        font-size: x-large;
    }
    .icons i {
        font-size: large;
        margin-bottom: 10px;
    }
}